#update-nag, .update-nag {
  display: none;
}

.post-type-post .button-link-delete {
  display: none;
}

#adminmenu li {
  position: relative;
}

.awaiting-mod-gatr4 {
  position: absolute;
  top: 5px;
  right: 11px;
}

.chat-messages-page {
  width: 98%;
  max-width: 1400px;
  padding: 15px;
  padding-left: 0;
}

.chat-messages-area {
  background: #fff;
  border: 2px solid #efefef;
  padding: 20px;
  margin-top: 35px;
}

.magger-chat-item {
  text-align: left;
  display: flex;
  display: -ms-flex;
  justify-content: flex-end;
}

.chat-messages-area p {
  margin: 0;
  color: #3D4A5D;
}

.editor-chat-item {
  text-align: left;
  display: flex;
  display: -ms-flex;
  justify-content: flex-start;
}

#send-message {
  position: relative;
  border: 2px solid #efefef;
  border-top: none;
}

#send-message textarea {
  width: 100%;
  border: none;
  background: #fdfdfd;
  padding: 15px;
  font-size: 15px;
}

#send-message button {
  color: #fff;
  font-size: 15px;
  display: block;
  width: 100%;
  border: none;
  padding: 10px;
  background: #2b2d2d;
  cursor: pointer;
  outline: none;
}

.chat-item-in {
  font-size: 13px;
  padding: 20px;
  background: #F1F2F6;
  margin-bottom: 15px;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 60%;
  min-width: 35%;
}

.chat-item-in p {
  font-size: 14px;
  font-weight: 400;
}

.magger-chat-item .chat-item-in {
  border-radius: 10px 10px 0px 10px;
  background: #fedc00;
  color: #000;
}

.magger-chat-item .chat-item-in p {
  color: #000;
}

.chat-item-fullname {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.chat-item-date {
  text-align: left;
  display: block;
  margin-top: 5px;
  color: #6b6b6b;
  font-size: 12px;
  font-style: italic;
}

.editor-chat-item-notfound {
  text-align: center;
  font-size: 18px;
  padding: 40px 15px;
}

.editor-chat-item-notfound h2 {
  margin: 0;
  line-height: 1.4;
}

.editor-chat-item-notfound p {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 1.4;
}

.wp-block-embed .mce-preview-object {
  width: 100%;
  border: none;
}

.select-gallery-box {
  position: relative;
  width: 100%;
}

.select-gallery-box-in {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.select-gallery-input {
  width: 100%;
  margin-right: 20px;
}

.select-gallery-box-img img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 20px;
}